<section class="our-achievement-layout">
  <div class="container">
    <div class="our-achievement">
      <div class="container-two-card">
        <div class="our-achievement__card">
          <div class="card__header">
            <img
              class="card__header__img"
              src="../../../assets/img/ourAchievement/cardRating/Star.png"
              alt="star"
            />
            <span class="card__header__span">4.8 Rating</span>
          </div>

          <div class="card__member">
            <div class="container-img">
              <img
                class="member__img"
                src="../../../assets/img/ourAchievement/cardRating/Ellipse1.png"
                alt="people profile photo"
              />
              <img
                class="member__img"
                src="../../../assets/img/ourAchievement/cardRating/Ellipse2.png"
                alt="people profile photo"
              />
              <img
                class="member__img"
                src="../../../assets/img/ourAchievement/cardRating/Ellipse3.png"
                alt="people profile photo"
              />
            </div>
            <span class="member__span">
              <span class="member__span__span">+836k</span> Members
            </span>
          </div>

          <p class="card__paragrafo">
            More than 2 billion we people over countries use socibooks we to
            stay in touch with friends.
          </p>

          <a class="card__link" href=""
            >Join Our Community
            <img
              class="card__link__img"
              src="../../../assets/img/ourAchievement/cardRating/ArrowRight.png"
              alt="arrow"
          /></a>
        </div>

        <div class="our-achievement__card">
          <div class="card__header">
            <img
              class="card__header__img"
              src="../../../assets/img/ourAchievement/cardAwwwards/tropy.png"
              alt="star"
            />
            <span class="card__header__span">Awwwards</span>
          </div>

          <div class="card__best">
            <img
              class="best__img"
              src="../../../assets/img/ourAchievement/cardAwwwards/Ellipse1.png"
              alt="star"
            />
            <span class="best__span"
              >Best of <span class="best__span__span">2021</span> on
              Github</span
            >
          </div>

          <p class="card__paragrafo">
            More than 2 billion we people over countries use socibooks we to
            stay in touch with friends.
          </p>

          <a class="card__link card__link--cinza" href=""
            >Go To Awards
            <img
              class="card__link__img"
              src="../../../assets/img/ourAchievement/cardAwwwards/ArrowRight.png"
              alt="arrow"
          /></a>
        </div>
      </div>

      <div class="our-achievement__connecting">
        <span class="connecting__span">Our Achievement</span>
        <h1 class="connecting__titulo">
          We are Connecting You The Digital Life.
        </h1>

        <p class="connecting__paragrafo">
          The scope the Social Media becomes crucial Is helps the business to
          directly engage with their needs and wants.
        </p>

        <button class="connecting__button">
          Discover me
          <img
            class="connecting__button__img"
            src="../../../assets/img/ourAchievement/connecting/arrowRight.svg"
            alt="arrow"
          />
        </button>
      </div>
    </div>
  </div>
</section>
