<section class="hero-layout">
  <div class="container">
    <div class="hero">
      <div class="container-left">
        <span class="hero__span">Netbook community</span>
        <h1 class="hero__titulo">Your Solutions For Community!</h1>
        <p class="hero__descricao">
          More than 2 billion people in over countries use socibook to stay in
          touch with friends & family.
        </p>
        <app-ctabutton innerText="About more"></app-ctabutton>
        <app-ctabutton innerText="Invite Friend" [ctaButtonBranco]="true"></app-ctabutton>
      </div>
      <img
        class="hero__img"
        src="../../../assets/img/hero/hero.png"
        alt="Hero"
      />
    </div>
  </div>
</section>
