<section class="whats-netboks-layout">
  <div class="container">
    <div class="whats-netbook">
      <div class="container-left">
        <span class="whats-netbook__span">Whats Netboks?</span>
        <h1 class="whats-netbook__titulo">
          Why Join to Netbook Social Network?
        </h1>
        <p class="whats-netbook__descricao">
          Recent surveys have indicated that small businesses recognise the need
          they have to connect with consumer.
        </p>
        <ul class="whats-netbook__lista">
          <li class="whats-netbook__item">Groups</li>
          <li class="whats-netbook__item">Messages</li>
          <li class="whats-netbook__item">Share</li>
        </ul>
      </div>

      <div class="container-right">
        <div class="whats-netbook__card">
          <img
            class="card__img"
            src="../../../assets/img/whatsNetbooks/cardOne.png"
            alt="people on table"
          />
          <div class="card__player">
            <button class="player__button">
              <img
                class="player__img"
                src="../../../assets/img/whatsNetbooks/arrowStart.svg"
                alt="arrow start"
              />
            </button>
          </div>
        </div>

        <div class="container-two-cards">
          <div class="whats-netbook__card">
            <img
              class="card__img"
              src="../../../assets/img/whatsNetbooks/cardTwo.png"
              alt="man on a table"
            />
          </div>

          <div class="whats-netbook__card">
            <img
              class="card__img"
              src="../../../assets/img/whatsNetbooks/cardThree.png"
              alt="network cables"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
