<section class="get-our-aplication-layout">
  <div class="container">
    <div class="get-our-aplication">
      <div class="container-titulo">
        <span class="get-our-aplication__span">Get Our Aplication</span>
        <h1 class="get-our-aplication__titulo">
          You Can Easily Find This App…!
        </h1>
        <p class="get-our-aplication__paragrafo">
          I say chap that’s suing lavatory chip shop gosh off his smashing boot
          are you taking the piss posh loo brilliant.
        </p>
        <div class="container-button-download">
          <button class="get-our-aplication__button">
            <img
              class="get-our-aplication__button__img"
              src="../../../assets/img/getOurApplication/appStore.png"
              alt="download on app store"
            />
          </button>
          <button class="get-our-aplication__button">
            <img
              class="get-our-aplication__button__img"
              src="../../../assets/img/getOurApplication/playStore.png"
              alt="download on play store"
            />
          </button>
        </div>
      </div>
      <div class="container-img">
        <img
          class="get-our-aplication__img"
          src="../../../assets/img/getOurApplication/mobileApp.png"
          alt="application running on smartphone"
        />
      </div>
    </div>
  </div>
</section>
